/* General Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:none;
	font-family: "Calibri";
}

ol, ul {
	list-style-type:none;
}

h1, h2, h3, h4, h5, h6, li {
	line-height:100%;
}

blockquote, q {
	quotes:none;
}

q:before, q:after {
	content:"";
}

input, textarea, select {
	font:11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	padding:0;
	margin:0;
}

textarea {
	overflow:auto;
	resize:none;
}

form, fieldset {
	border-style:none;
}

body {
	margin:0px;
	padding:0px;
	font-size:12px;
	color:#113e5d;
	background-color:#9ba0a3;
	font-family: "Calibri", Georgia, "Times New Roman", Times, serif;
}

p {
	font-size:16px;
	line-height:21px;
	margin-bottom:10px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

h1 {
	font-size:33px;
	margin-bottom:10px;
}

h2 {
	font-size:25px;
	margin-bottom:10px;
}

h3 {
	font-size:22px;
	margin-bottom:10px;
}

h4 {
	font-size:20px;
	margin-bottom:10px;
}

h5 {
	font-size:18px;
	margin-bottom:10px;
}

h6 {
	font-size:16px;
	margin-bottom:10px;
}

img {
	border:none;
}

/*  links
	******************************/
	a {color: #1B5219;text-decoration: underline;font-size: 16px;}
	a:hover {color: #1B5219;text-decoration: none;}
	a:active {border: none;}
	a:visited {color: white;}
	* a img {border: none;}

	/*  superscript and subscript
	******************************/
	sup, sub {vertical-align: baseline;position: relative;top: -0.4em;}
	sub { top: 0.4em; }
	
	/*  lists
	******************************/
	ul, ol {padding:0;margin:0;}
	ul li {list-style-type:disc;}
	ol li {list-style-type:decimal;}
	ul li,
	ol li {font-size: 12px; line-height: 16px;margin: 0 0 10px 15px;}

	/*  tables
	******************************/
	table,th,td {border:1px solid #AAAAAA;}
	th {padding:3px; font-weight:bold;color:#344b3b;}
	tr {margin:0 0 5px 0;padding:3px;}
	td {padding:5px;margin:0 1px;}
	
	/*  horizontal lines
	******************************/
	hr {border-top: none;border-left: none;border-right: none;border-bottom: 1px solid #ceced6;margin:5px 0;padding:0;height:2px;width:100%; margin-bottom:15px;}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.copyright {
   border: 0px;
   height: 1px;
   width: 1px;
}

#wrapper {
	width:1000px;
	margin:0 auto;
	padding:20px 0 10px 0;
}

/*----start header----*/
#header {
	padding:0px 0px 5px;
}

#header .top_banner{
	/*background:url(../images/header.jpg) no-repeat left top;*/
	height:175px;
	padding:75px 95px 0 95px;
	border:#496066 solid 1px;
}

#header h1{
	font-size:32px;
	color:#000000;
	margin:0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	padding:0px 0px 10px;
}

#header h1 a {
	color:#000000;
	text-decoration: none;
}

#header h1 a:hover {
	text-decoration: none;
}

#header p{
	font-size:16px;
	margin-left:1px;
	color:#000000;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

.navigation{
	margin:0px 0px 20px;
	border-bottom:#adb1b2 solid 1px;
	padding:15px 5px;
	background: #cbcfd0;
	background: -moz-linear-gradient(top, #cbcfd0 0%, #e8eae9 35%, #e4e6e5 60%, #cdd1d2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbcfd0), color-stop(35%,#e8eae9), color-stop(60%,#e4e6e5), color-stop(100%,#cdd1d2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cbcfd0 0%,#e8eae9 35%,#e4e6e5 60%,#cdd1d2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cbcfd0 0%,#e8eae9 35%,#e4e6e5 60%,#cdd1d2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cbcfd0 0%,#e8eae9 35%,#e4e6e5 60%,#cdd1d2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cbcfd0 0%,#e8eae9 35%,#e4e6e5 60%,#cdd1d2 100%); /* W3C */
	font-size: 20px;
}

.navigation ul{
	margin:0px;
	padding:0px;
}

.navigation ul li{
	margin:0px;
	padding:0px 32px;
	display:inline;
	font-size:15px;
	list-style-type:none;
}

.navigation ul li a{
	color:#03314b;
	text-decoration:none;
}

.navigation ul li a:hover{
	text-decoration:underline;
}

.navigation ul li:last-child {
	border-right:none;
}
/*----end header----*/


/*----start page content----*/
#page_content{
	background:white;
	padding:10px;
}

#page_content .right_section{
	width:735px;
	float:right;
}

#page_content .right_section .top_content{
	padding:15px 0 0px 0;
}

#page_content .right_section .top_content .column_one{
	width:300px;
	float:left;
	margin-bottom:20px;
}

#page_content .right_section .top_content .column_two{
	width:300px;
	float:right;
	margin-bottom:20px;
}

a.btn{
	color:#0a0800;
	font-size:12px;
	text-decoration:none;
	padding:7px 15px 7px 15px;
	font-weight:bold;
	display:inline-block;
	border:#566568 solid 1px;
	background-color:#97aaae;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}

a.btn:hover{
	text-decoration:underline;
}

.common_content{
	padding:0 0 20px 0;
}

.border_left{
	border-left:#6e7678 dotted 1px;
	padding-left:20px;
}

.border_none{
	border:none!important;
	margin:0px!important;
}

.left_side_bar{
	width:210px;
	margin-bottom:10px;
	float:left;
}

.left_side_bar h1{
	font-size:18px;
	padding:0 0 0 35px;
	margin-bottom:15px;
	color:#1b0400;
	/*background:url(../images/arrow.png) no-repeat 10px center;*/
}

.left_side_bar .col_1{
	padding:0px 0 20px 0;
}

.left_side_bar .col_1 .box{
	padding:10px 15px 5px;
	background-color:#c9cdce;
	border:#adb1b2 solid 2px;
}

.left_side_bar .col_1 .box ul{
	margin:0px;
	padding:0px;
}

.left_side_bar .col_1 .box ul li{
	margin:0px 0px 8px;
	padding:0px 0px 0px 20px;
	font-size:13px;
	list-style-type:none;
	/*background:url(../images/li.png) no-repeat left center;*/
}

.left_side_bar .col_1 .box ul li a{
	color:#364b38;
	text-decoration:underline;
}

.left_side_bar .col_1 .box ul li a:hover{
	color:#364b38;
	text-decoration:none;
}
/*----end page content----*/


/*----start footer content----*/
#footer{
    clear:both;
	padding:12px 0 12px 0;
	height:20px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	line-height:20px;
	border-top:#b9bdbe solid 1px;
}

/*----end footer content----*/